.SplashScreen {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--mdc-theme-primary, #69a267);
  min-height: 100vh;

  img.Logo {
    margin: 32px;
    max-width: 512px;
    max-height: 512px;
    width: 90%;
  }

  .InfiniteSpinner {
    text-align: center;
  }
}
