@import "src/scss/mixins";

.AuthForm {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .AuthField {
    width: 100%;
    margin-top: 1rem;
    @include input-text-field-style();

    &:first-of-type {
      margin-top: 0;
    }
  }

  .ErrorNotification {
    width: 100%;
    margin-top: 1rem;
    text-align: center;

    & > button[class*="mdc-chip"] {
      background-color: var(--mdc-theme-error, #ea2227);
      color: rgb(252, 252, 252);

      & > i {
        color: rgba(230, 231, 232, 0.8);
      }
    }
  }
}
