.authForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authForm {
  .authField {
    width: 100%;
  }
  .authField:first-of-type {
    margin-bottom: 1rem;
  }

  // .mdc-text-field {
  //   display: flex;
  // }
}
