.App {
  // text-align: center;
  color: var(--mdc-theme-on-primary, #69A267);
  // $mdc-theme-secondary: #d1c4e9;
  // $mdc-theme-background: #a7255d;

  .headerSearchFieldWrapper {
    margin-left: 0.75rem;

    .headerSearchField {
      height: 2.5rem;
      border-color: var(--mdc-theme-on-primary);



      &.mdc-text-field {
        border-radius: 4px;
        border-color: var(--mdc-theme-on-primary);

        &--outlined {
          border-color: var(--mdc-theme-on-primary);
        }

        &--focused {
          background-color: rgba(9, 104, 9, 0.20);
          border-style: solid;
          border-width: 1px;
          border-color: var(--mdc-theme-on-primary);
        }

        input {
          color: var(--mdc-theme-surface);
          caret-color: var(--mdc-theme-on-primary);
        }
      }

      i {
        top: 20%;
        color: var(--mdc-theme-on-primary);
      }
    }
  }
}