:root {
  --mdc-theme-primary: #69a267;
  --mdc-theme-secondary: #00cb00;
  --mdc-theme-surface: #edf8ee;
  --mdc-theme-background: #fcfffb;
  // --mdc-theme-on-primary: #12c612;
  --mdc-theme-on-primary: #096809;
  --mdc-theme-on-secondary: #096809;
  --mdc-theme-on-surface: #096809;
  --mdc-theme-on-hint: #096809;
  --mdc-theme-text-primary-on-background: #096809;
  --mdc-theme-text-secondary-on-background: #ecffec;
  --mdc-theme-text-surface-on-background: #091309;
  --mdc-theme-text-hint-on-background: #096809;
  --mdc-theme-text-primary-on-light: #096809;
  --mdc-theme-text-secondary-on-light: #096809;
  // TODO: find out error text colors
  --mdc-theme-error: #ea2227;
  --mdc-theme-error-text: #096809;
  --mdc-theme-error-background: #096809;
}

/*
:root {
  --mdc-theme-primary: #6200ee;
  --mdc-theme-secondary: #03dac4;
  --mdc-theme-error: #b00020;
  --mdc-theme-background: #fff;
  --mdc-theme-surface: #fff;
  --mdc-theme-on-primary: rgba(255, 255, 255, 1);
  --mdc-theme-on-secondary: rgba(0, 0, 0, 0.87);
  --mdc-theme-on-surface: rgba(0, 0, 0, 0.87);
  --mdc-theme-on-error: #fff;
  --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-dark: white;
  --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
}

*/

body {
  background-color: var(--mdc-theme-background, #edf8ee);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}

.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

// @media (max-width: 599px) {
//   .mdc-top-app-bar--fixed-adjust {
//     padding-top: 128px;
//   }
// }
